<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Superheros</title>
  <!-- Latest compiled and minified CSS -->
  <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Noto+Sans" rel="stylesheet">
</head>

<body>
<p> <em>superheroes ejs</em> </p>

<div class="container headr">
  <h1>adoptr</h1>
  <h5> helping pets find a place 💕</h5>
</div>

<div class="container" id="heropannel">
  <div v-for="hero in heroes" class="single_hero">
    <h3> {{ hero.name }}</h3>
    <img class="super_img" :src="hero.img">
    <h4>This pup has:</h4>
    <p> {{ hero.superpower }} {{ hero.superpowers }} </p>
    <h4>Breed:</h4>
    <span> {{ hero.universe }} </span>
    <h4>Unloveable?</h4>
    <span> {{ hero.evil }} </span>
    <button class="btn btn-warning" type="button" v-on:click="deleteHero(hero._id)"> Adopt this pup!</button>
  </div>

  <form class="form" v-on:submit="submitHero">
    <div class="form-group">
      <label>Hero Name:</label>
      <input type="text" placeholder="enter hero name" v-model="newName">
    </div>
    <div class="form-group">
      <label>Superpowers:</label>
      <textarea type="text" placeholder="enter superpowers here" v-model="newSuperpower"></textarea>
    </div>
    <div class="form-group">
      <label>Unloveable?</label>
      <input type="radio"v-model="newEvil" value="True" v-model="picked">True <br>
      <input type="radio"v-model="newEvil" value="False" v-model="picked">False
    </div>
    <button class="btn btn-success" type="submit" name="button">submit</button>
  </form>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
  <script src="hero.js"></script>
</body>
</html>
