body{
font-family: 'Noto Sans';
}

#heropannel{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.single_hero{
  background-color: #F8F9F9;
  border-radius: 5px;
  margin: 10px;
  width: calc(33.33% - 20px);
  padding: 0px 10px;
}

h1, h5{
  text-transform: ;
  font-family: 'Comfortaa';
}

.single_hero{

}

h3{

}

.super_img{
  width: 100%;
}

button{
  margin-top: 10px;
  display: block !important;
}
